// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
    height: 60px;
    background-color: #008b8b;
}

.background{
}

.title {
    width:100px;
    height:20px;
    font-size: 30px;
    line-height: 40px;
    padding:5px 0 0 20px;
}

.title a{
     color:#ffffff;
     text-decoration: none; 
}

.sign-box {
    float:right;
}

